.footerSitio {
    display: flex;
    padding: 20px 0;
    background-color: gray;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    ul {
        display: flex;
        width: 100%;
        justify-content: center;
        list-style: none;
        flex-wrap: wrap;
        color: white;
        li {
            display: flex;
            text-decoration: none;
            font-size: 11px;
            padding: 5px;
            margin: 5px;
            color: white;
            margin: 0px 10px;
            justify-content: center;
            align-items: center;
            text-align: center;    
        }
    }
}