.mainInicio {
    font-family: 'Signika Negative', sans-serif;
}
.seccion1Inicio {
    display: flex;
    background-image: url(../img/img_inic/foto01.jpeg);
    height: calc(100vh - 140px);
    flex-direction: column;    
}
.navInternaInicio{
    text-decoration: none;    
    &:hover {
        font-weight:600;
    }
}
.seccion1Inicio1 {
    display: flex;
    height: 20%;    
    justify-content: space-between;
}
.seccion1Inicio2 {
    display: flex;
    height: 80%;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 60px 45px;
}
#favicom{
    width:100px;
    height:100px;
}
.seccion2Inicio {
    display: flex;
    width: 100%;
    padding: 10px;
    flex-direction: column;
    background-image: url(../img/img_inic/ladrillos.jpg);
}
.seccion2Inicio1 {
    display: flex;
    width: 100%;
    flex-direction: column;
    .seccion2Inicio11 {
        display: flex;
        justify-content: center;
        margin: 10px;
        padding: 5px;
    }
    @mixin estiloNosotros($bgColor){
        width: 350PX;
        margin: 20px;
        border: 1px double black;
        padding: 30px;
        background-color: $bgColor;
    }
    .seccion2Inicio12 {
        display: flex;
        padding: 15px;
        flex-wrap: wrap;
        justify-content: space-around;
        .seccion2Inicio121 {
            @include estiloNosotros(rgb(207, 207, 245));
        }
        .seccion2Inicio122 {
            @include estiloNosotros(rgb(207, 245, 210));
        }
        .seccion2Inicio123 {
            @include estiloNosotros(rgb(242, 207, 245));
        }
        .seccion2Inicio124 {
            @include estiloNosotros(rgb(207, 239, 245));
        }
        .seccion2Inicio121H3 {
            margin-bottom: 8px;
        }
    }
}
.seccion2Inicio2 {
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: center;
    .seccion2Inicio21 {
        width: 80vw;
        height: 60vw;
        margin: 20px;
        background-size: cover;
        animation-name: imagenes;
        animation-duration: 12s;
        animation-iteration-count: infinite;
    }
}
@keyframes imagenes {
    0% {
        background-image: url(../img/img_inic/foto02.jpeg);
    }
    20% {
        background-image: url(../img/img_inic/foto03.jpeg);
    }
    40% {
        background-image: url(../img/img_inic/foto04.jpeg);
    }
    60% {
        background-image: url(../img/img_inic/foto05.jpeg);
    }
    80% {
        background-image: url(../img/img_inic/foto06.jpeg);
    }
    100% {
        background-image: url(../img/img_inic/foto07.jpeg);
    }
}