.mainResto {
    font-family: 'Signika Negative', sans-serif;
    width: 100%;
    background-image: url(../img/img_inic/ladrillos.jpg);
}
h1{
    padding: 20px;
    color:rgb(209, 42, 42);
    font-style: italic;
    font-weight: bolder;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    text-align: end;
}
h2{
    font-size: 30px;
}