@media only screen and ( max-width: 600px ) {
    .contactosSitio {
        grid-template-columns: 100%;
        grid-template-rows: 30px 30px 30px 30px 30px 30px;
        align-items: end;
    }
    .seccion1Inicio {
        height: calc(100vh - 248px);
    }
    .sec2Productos {
        grid-template-columns: 100%;
        grid-template-rows: 1260px 1260px 700px 560px 400px;
        justify-content: center;  
    }
    .sec2Productos1 {
        height: 90%;;
    }
    .sec2Productos2 {
        height: 90%;;
    }
    .sec2Galeria11 {
        grid-template-columns: 50% 50%;
        grid-template-rows: 250px 250px 250px 250px 250px 250px;
        justify-content: center;
    }
    .sec2Galeria21 {
        grid-template-columns: 50% 50%;
        grid-template-rows: 250px 250px 250px 250px 250px;
        justify-content: center;
    }
    .sec2Galeria31 {
        grid-template-columns: 100%;
        grid-template-rows: 250px 250px;
        justify-content: center;
    }
    .navPreguntas {
        height: 80px;
    }
    .sec2Preguntas11 {
        grid-template-columns: 100%;
        grid-template-rows: 200px 200px 200px 200px 200px 200px 200px 200px;
        justify-content: center;
    }
    .sec2Preguntas21 {
        grid-template-columns: 100%;
        grid-template-rows: 250px 250px 250px 250px 250px 250px;
        justify-content: center;
    }
    .sec2Preguntas31 {
        grid-template-columns: 100%;
        grid-template-rows: 140px 160px 160px 140px 170px 170px 160px 140px 170px 170px 140px 215px 210px 160px;
        justify-content: center;
    }
    .mainContacto {
        flex-direction: column;
    }
    .mainContactoFormulario {
        width: 400px;
        grid-template-columns: 40% 60%;
    }
}
@media only screen and ( min-width: 600px ) {
    .contactosSitio {
        grid-template-columns: 50% 50%;
        grid-template-rows: 30px 30px 30px;
    }
    .seccion1Inicio {
        height: calc(100vh - 136px);
    }
    .sec2Productos {
        grid-template-columns: 50% 50%;
        grid-template-rows: 1430px 700px 400px;
        justify-content: space-between;  
    }
    .sec2Galeria11 {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 250px 250px 250px 250px;
        justify-content: center;
    }
    .sec2Galeria21 {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 250px 250px 250px 250px;
        justify-content: center;
    }
    .sec2Galeria31 {
        grid-template-columns: 50% 50%;
        grid-template-rows: 250px;
        justify-content: center;
    }
    .sec2Preguntas11 {
        grid-template-columns: 100%;
        grid-template-rows: 200px 200px 200px 200px 200px 200px 200px 200px;
        justify-content: center;
    }
    .sec2Preguntas21 {
        grid-template-columns: 100%;
        grid-template-rows: 250px 250px 250px 250px 250px 250px;
        justify-content: center;
    }
    .sec2Preguntas31 {
        grid-template-columns: 100%;
        grid-template-rows: 140px 160px 160px 140px 170px 170px 160px 140px 170px 170px 140px 215px 210px 160px;
        justify-content: center;
    }
    .mainContacto {
        flex-direction: column;
    }
}
@media only screen and ( min-width: 992px ) {
    .contactosSitio {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 30px 30px;
    }
    .seccion1Inicio {
        height: calc(100vh - 126px);
    }
    .sec2Productos {
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: 700px 550px 400px;
        grid-template-areas: "a1 a2 a3"
                             "a1 a2 a4"
                             "a1 a2 a5";
        justify-content: space-between;  
    }
    .sec2Productos1 {
        grid-area: a1;
    }
    .sec2Productos2 {
        grid-area: a2;
    }
    .sec2Productos3 {
        grid-area: a3;
    }
    .sec2Productos4 {
        grid-area: a4;
    }
    .sec2Productos5 {
        grid-area: a5;
    }
    .sec2Galeria11 {
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 250px 250px 250px;
        justify-content: center;
    }
    .sec2Galeria21 {
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 250px 250px 250px;
        justify-content: center;
    }
    .sec2Galeria31 {
        grid-template-columns: 50% 50%;
        grid-template-rows: 250px;
        justify-content: center;
    }
    .sec2Preguntas11 {
        grid-template-columns: 50% 50%;
        grid-template-rows: 200px 200px 200px 200px;
        justify-content: center;
    }
    .sec2Preguntas21 {
        grid-template-columns: 50% 50%;
        grid-template-rows: 250px 250px 250px;
        justify-content: center;
    }
    .sec2Preguntas31 {
        grid-template-columns: 50% 50%;
        grid-template-rows: 160px 160px 170px 160px 170px 215px 210px;
        justify-content: center;
    }    
    .mainContacto {
        flex-direction: row;
    }
}