@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
* {
    margin: 0;
    padding: 0;
}
@import "index.scss";
@import "productos.scss";
@import "galeria.scss";
@import "preguntas.scss";
@import "contacto.scss";
/*                          header css */
.headerSitio {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    .headerSitio1 {
        display: flex;
        padding: 10px 0;
        background-color: gray;
        flex-wrap: wrap;
        font-family: 'Roboto', sans-serif;
        .headerSitio11 {
            display: flex;
            width: 30%;
            align-items: center;
            justify-content: center;
        }
        .headerSitio12 {
            display: flex;
            width: 70%;
            justify-content: center;
            align-items: center;
            ul {
                display: grid;
                width: 100%;
                justify-content: flex-end;
                list-style: none;
                flex-wrap: wrap;
                li {
                    display: flex;
                    text-decoration: none;
                    font-size: 11px;
                    padding: 5px;
                    margin: 5px;
                    color: white;
                    margin: 0px 10px;
                    justify-content: center;
                    align-items: center;
                    text-align: center;    
                }
            }
        }
    }
}
.bi-telephone-fill {
    font-size: 13px;
    &:hover {
        color: black;
    }
}
.bi-envelope {
    font-size: 13px;
    &:hover {
        color: black;
    }
}
.bi-whatsapp {
    font-size: 13px;
    &:hover {
        color: rgb(53, 196, 53);
    }
}
.bi-facebook {
    font-size: 13px;
    &:hover {
        color: blue;
    }
}
.bi-instagram {
    font-size: 13px;
    &:hover {
        color: rgb(219, 83, 83);
    }
}
.bi-geo-alt-fill {
    font-size: 13px;
    &:hover {
        color: red;
    }
}
/*                          footer css */
.footerSitio {
    display: flex;
    padding: 20px 0;
    background-color: gray;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    ul {
        display: flex;
        width: 100%;
        justify-content: center;
        list-style: none;
        flex-wrap: wrap;
        color: white;
        li {
            display: flex;
            text-decoration: none;
            font-size: 11px;
            padding: 5px;
            margin: 5px;
            color: white;
            margin: 0px 10px;
            justify-content: center;
            align-items: center;
            text-align: center;    
        }
    }
}
/*                           main RESTO css*/
.mainResto {
    font-family: 'Signika Negative', sans-serif;
    width: 100%;
    background-image: url(../img/img_inic/ladrillos.jpg);
}
h1{
    padding: 20px;
    color:rgb(209, 42, 42);
    font-style: italic;
    font-weight: bolder;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    text-align: end;
}
h2{
    font-size: 30px;
}
/*                           Media Query*/
@media only screen and ( max-width: 600px ) {
    .contactosSitio {
        grid-template-columns: 100%;
        grid-template-rows: 30px 30px 30px 30px 30px 30px;
        align-items: end;
    }
    .seccion1Inicio {
        height: calc(100vh - 248px);
    }
    .sec2Productos {
        grid-template-columns: 100%;
        grid-template-rows: 780px 780px 420px 340px 250px;
        justify-content: center;  
    }
    .sec2Productos1 {
        height: 90%;;
    }
    .sec2Productos2 {
        height: 90%;;
    }
    .sec2Galeria11 {
        grid-template-columns: 50% 50%;
        grid-template-rows: 250px 250px 250px 250px 250px 250px;
        justify-content: center;
    }
    .sec2Galeria21 {
        grid-template-columns: 50% 50%;
        grid-template-rows: 250px 250px 250px 250px 250px;
        justify-content: center;
    }
    .sec2Galeria31 {
        grid-template-columns: 100%;
        grid-template-rows: 250px 250px;
        justify-content: center;
    }
    .navPreguntas {
        height: 80px;
    }
    .sec2Preguntas11 {
        grid-template-columns: 100%;
        grid-template-rows: 200px 200px 200px 200px 200px 200px 200px 200px;
        justify-content: center;
    }
    .sec2Preguntas21 {
        grid-template-columns: 100%;
        grid-template-rows: 250px 250px 250px 250px 250px 250px;
        justify-content: center;
    }
    .sec2Preguntas31 {
        grid-template-columns: 100%;
        grid-template-rows: 140px 160px 160px 140px 170px 170px 160px 140px 170px 170px 140px 215px 210px 160px;
        justify-content: center;
    }
    .mainContacto {
        flex-direction: column;
    }
    .mainContactoFormulario {
        width: 400px;
        grid-template-columns: 40% 60%;
    }
}
@media only screen and ( min-width: 600px ) {
    .contactosSitio {
        grid-template-columns: 50% 50%;
        grid-template-rows: 30px 30px 30px;
    }
    .seccion1Inicio {
        height: calc(100vh - 136px);
    }
    .sec2Productos {
        grid-template-columns: 50% 50%;
        grid-template-rows: 900px 420px 250px;
        justify-content: space-between;  
    }
    .sec2Galeria11 {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 250px 250px 250px 250px;
        justify-content: center;
    }
    .sec2Galeria21 {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 250px 250px 250px 250px;
        justify-content: center;
    }
    .sec2Galeria31 {
        grid-template-columns: 50% 50%;
        grid-template-rows: 250px;
        justify-content: center;
    }
    .sec2Preguntas11 {
        grid-template-columns: 100%;
        grid-template-rows: 200px 200px 200px 200px 200px 200px 200px 200px;
        justify-content: center;
    }
    .sec2Preguntas21 {
        grid-template-columns: 100%;
        grid-template-rows: 250px 250px 250px 250px 250px 250px;
        justify-content: center;
    }
    .sec2Preguntas31 {
        grid-template-columns: 100%;
        grid-template-rows: 140px 160px 160px 140px 170px 170px 160px 140px 170px 170px 140px 215px 210px 160px;
        justify-content: center;
    }
    .mainContacto {
        flex-direction: column;
    }
}
@media only screen and ( min-width: 992px ) {
    .contactosSitio {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 30px 30px;
    }
    .seccion1Inicio {
        height: calc(100vh - 126px);
    }
    .sec2Productos {
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: 420px 420px 250px;
        grid-template-areas: "a1 a2 a3"
                             "a1 a2 a4"
                             "a1 a2 a5";
        justify-content: space-between;  
    }
    .sec2Productos1 {
        grid-area: a1;
    }
    .sec2Productos2 {
        grid-area: a2;
    }
    .sec2Productos3 {
        grid-area: a3;
    }
    .sec2Productos4 {
        grid-area: a4;
    }
    .sec2Productos5 {
        grid-area: a5;
    }
    .sec2Galeria11 {
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 250px 250px 250px;
        justify-content: center;
    }
    .sec2Galeria21 {
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 250px 250px 250px;
        justify-content: center;
    }
    .sec2Galeria31 {
        grid-template-columns: 50% 50%;
        grid-template-rows: 250px;
        justify-content: center;
    }
    .sec2Preguntas11 {
        grid-template-columns: 50% 50%;
        grid-template-rows: 200px 200px 200px 200px;
        justify-content: center;
    }
    .sec2Preguntas21 {
        grid-template-columns: 50% 50%;
        grid-template-rows: 250px 250px 250px;
        justify-content: center;
    }
    .sec2Preguntas31 {
        grid-template-columns: 50% 50%;
        grid-template-rows: 160px 160px 170px 160px 170px 215px 210px;
        justify-content: center;
    }    
    .mainContacto {
        flex-direction: row;
    }
}